<a href="https://colab.research.google.com/github/deepa861/Workshop-Excersises/blob/master/day2_sesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:1
Enter element:2
Enter element:3
Enter number of elements:1
Enter element:1
Sorted list is: [1, 1, 2, 3]

In [ ]:
x=0
print('The greatest no is',max([int(input(x)) for i in range(int(input("Enter n")))]))

Enter n3
1
2
3
The greatest no is 3

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:2
Enter element:4
Enter element:5
The even list [2, 4]
The odd list [5]

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:2
Enter element:2
Enter element:4
Enter number of elements:3
Enter element:1
Enter element:5
Enter element:7
Sorted list is: [1, 2, 4, 5, 7]

In [ ]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:2
Enter element:-1
Enter element:-3
Second largest number is: -1

In [ ]:
list1 = [1, 2, 5, 6]
res = [(val, pow(val, 2)) for val in list1] 
print(res)

[(1, 1), (2, 4), (5, 25), (6, 36)]

In [ ]:
import random
def Rand(start, end, num):
 a=[]               
for j in range(n):
 a.append(random.randint(1,20))
print('Randomised list is: ',a)

Randomised list is:  [2, 3, 5, 20, 5, 19, 6, 14, 10, 6, 9, 8, 10, 3, 12, 16, 7, 7, 19, 20, 2, 15, 1, 8, 14, 12, 8, 16, 5, 14, 8, 14, 6, 3, 17, 12, 18, 10, 3, 9, 7, 19, 1, 12, 7, 8, 19, 3, 11, 8, 20, 5, 12, 12, 9, 11, 13, 10, 16, 8, 8, 18, 11, 7, 12]

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [ ]:
pair = ("dog", "cat")

(key, value) = pair
print(key)
print(value)

dog
cat

In [ ]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

In [ ]:
n=int(input("enter the number:"))
for i in range(1,201):
  print(n,"*",i,"=",n*i)

enter the number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60
3 * 21 = 63
3 * 22 = 66
3 * 23 = 69
3 * 24 = 72
3 * 25 = 75
3 * 26 = 78
3 * 27 = 81
3 * 28 = 84
3 * 29 = 87
3 * 30 = 90
3 * 31 = 93
3 * 32 = 96
3 * 33 = 99
3 * 34 = 102
3 * 35 = 105
3 * 36 = 108
3 * 37 = 111
3 * 38 = 114
3 * 39 = 117
3 * 40 = 120
3 * 41 = 123
3 * 42 = 126
3 * 43 = 129
3 * 44 = 132
3 * 45 = 135
3 * 46 = 138
3 * 47 = 141
3 * 48 = 144
3 * 49 = 147
3 * 50 = 150
3 * 51 = 153
3 * 52 = 156
3 * 53 = 159
3 * 54 = 162
3 * 55 = 165
3 * 56 = 168
3 * 57 = 171
3 * 58 = 174
3 * 59 = 177
3 * 60 = 180
3 * 61 = 183
3 * 62 = 186
3 * 63 = 189
3 * 64 = 192
3 * 65 = 195
3 * 66 = 198
3 * 67 = 201
3 * 68 = 204
3 * 69 = 207
3 * 70 = 210
3 * 71 = 213
3 * 72 = 216
3 * 73 = 219
3 * 74 = 222
3 * 75 = 225
3 * 76 = 228
3 * 77 = 231
3 * 78 = 234
3 * 79 = 237
3 * 80 = 240
3 * 81 = 243
3 * 82 = 246
3 * 83 = 249
3 * 84 = 252
3 * 85 = 255
3 * 86 = 258
3 * 87 = 261
3 * 88 = 264
3 * 89 = 267
3 * 90 = 270
3 * 91 = 273
3 * 92 = 276
3 * 93 = 279
3 * 94 = 282
3 * 95 = 285
3 * 96 = 288
3 * 97 = 291
3 * 98 = 294
3 * 99 = 297
3 * 100 = 300
3 * 101 = 303
3 * 102 = 306
3 * 103 = 309
3 * 104 = 312
3 * 105 = 315
3 * 106 = 318
3 * 107 = 321
3 * 108 = 324
3 * 109 = 327
3 * 110 = 330
3 * 111 = 333
3 * 112 = 336
3 * 113 = 339
3 * 114 = 342
3 * 115 = 345
3 * 116 = 348
3 * 117 = 351
3 * 118 = 354
3 * 119 = 357
3 * 120 = 360
3 * 121 = 363
3 * 122 = 366
3 * 123 = 369
3 * 124 = 372
3 * 125 = 375
3 * 126 = 378
3 * 127 = 381
3 * 128 = 384
3 * 129 = 387
3 * 130 = 390
3 * 131 = 393
3 * 132 = 396
3 * 133 = 399
3 * 134 = 402
3 * 135 = 405
3 * 136 = 408
3 * 137 = 411
3 * 138 = 414
3 * 139 = 417
3 * 140 = 420
3 * 141 = 423
3 * 142 = 426
3 * 143 = 429
3 * 144 = 432
3 * 145 = 435
3 * 146 = 438
3 * 147 = 441
3 * 148 = 444
3 * 149 = 447
3 * 150 = 450
3 * 151 = 453
3 * 152 = 456
3 * 153 = 459
3 * 154 = 462
3 * 155 = 465
3 * 156 = 468
3 * 157 = 471
3 * 158 = 474
3 * 159 = 477
3 * 160 = 480
3 * 161 = 483
3 * 162 = 486
3 * 163 = 489
3 * 164 = 492
3 * 165 = 495
3 * 166 = 498
3 * 167 = 501
3 * 168 = 504
3 * 169 = 507
3 * 170 = 510
3 * 171 = 513
3 * 172 = 516
3 * 173 = 519
3 * 174 = 522
3 * 175 = 525
3 * 176 = 528
3 * 177 = 531
3 * 178 = 534
3 * 179 = 537
3 * 180 = 540
3 * 181 = 543
3 * 182 = 546
3 * 183 = 549
3 * 184 = 552
3 * 185 = 555
3 * 186 = 558
3 * 187 = 561
3 * 188 = 564
3 * 189 = 567
3 * 190 = 570
3 * 191 = 573
3 * 192 = 576
3 * 193 = 579
3 * 194 = 582
3 * 195 = 585
3 * 196 = 588
3 * 197 = 591
3 * 198 = 594
3 * 199 = 597
3 * 200 = 600

In [ ]:
for i in range (1000,2001):
  if(i%5==0 and i%7==0):
    print(i)

1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995

In [ ]:
names=['vishal','aditi','deepa']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['aditi', 'deepa', 'vishal']
['vishal', 'deepa', 'aditi']

In [ ]:
def squares(a, b):
    lists=[]
    for i in range (a,b+1):
        j = 1;
        while j*j <= i:
            if j*j == i and i%5:
                 lists.append(i)  
            j = j+1
        i = i+1
    return lists
print(squares(500, 1001))

[529, 576, 625, 676, 729, 784, 841, 900, 961]

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:1
Enter the upper range:4
[(1, 1), (2, 4), (3, 9), (4, 16)]

In [ ]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:3
Randomised list is:  [11, 13, 6]

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [ ]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:4
Enter element1:deepa
Enter element2:roopa
Enter element3:adi
Enter element4:akshata
The word with the longest length is:
akshata

In [ ]:
st=((101,98),(102,95),(103,87),(104,79))
print("sl_no","Roll_No"," Marks")
for i in range(0,len(st)):
    print((i+1),'\t',st[i][0],'\t',st[i][1],'\t')

sl_no Roll_No  Marks
1 	 101 	 98
2 	 102 	 95
3 	 103 	 87
4 	 104 	 79

In [ ]:
emp=[{'name':'bill','salary':1000},{'name':'bill','salary':500},{'name':'jon','salary':2000}]
emp_sorted=sorted(emp,key=lambda x:(x['name'],x['salary']))
print(emp_sorted)

[{'name': 'bill', 'salary': 500}, {'name': 'bill', 'salary': 1000}, {'name': 'jon', 'salary': 2000}]