<a href="https://colab.research.google.com/github/deepa861/Workshop-Excersises/blob/master/session_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

num1 = int(input("Enter first no"))
num2 = int(input("Enter second no"))

# Adding the two numbers
sum = num1 + num2

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first no2
Enter second no3
The sum of 2 and 3 is 5

In [ ]:
# To get year (integer input) from the user
year = int(input("Enter a year: "))

if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 2002
2002 is not a leap year

In [ ]:
def compound_interest(principle, rate, time): 
  
    
    CI = principle * (pow((1 + rate / 100), time)) 
    print("Compound interest is", CI) 
  

compound_interest(10000, 10.25, 5)

Compound interest is 16288.946267774416

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 33
33.00 Celsius is: 91.40 Fahrenheit

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(max(num1, num2), "is greater")

Enter the first number: 2
Enter the second number: -1
2 is greater

In [ ]:
pi=22/7
height = float(input('Height of cylinder: '))
radian = float(input('Radius of cylinder: '))
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume is: ", volume)
print("Surface Area is: ", sur_area)

Height of cylinder: 6
Radius of cylinder: 4
Volume is:  301.7142857142857
Surface Area is:  251.42857142857144

In [ ]:
def myMax(list1): 
  
  
    max = list1[0] 
   
   
    for x in list1: 
        if x > max : 
             max = x 
      
    
    return max
  
  

list1 = [10, 20, 45, 99] 
print("Largest element is:", myMax(list1))

Largest element is: 99

In [ ]:
n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:5
Factorial of the number is:
120

In [ ]:
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 321
The reversed no  is:
123

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
              print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:deepa
Modified string:
deep$

In [ ]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:adi
Enter the index of the character to remove:i

ValueError: ignored

In [ ]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:deepa
Enter second string:roopa
The strings aren't anagrams.